@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: local('OpenSansBold'),
    url('./fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf')
      format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: local('RobotoCondensed'),
    url('./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'),
    url('./fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlabBold';
  src: local('RobotoSlabBold'),
    url('./fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: local('OpenSansSemiBold'),
    url('./fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf')
      format('truetype');
}
body {
  margin: 0;
}
/* 
code {
} */
